link(rel="icon", type="image/x-icon", href="/images/ico/16.ico")
link(rel="stylesheet", href="/css/site.css")
link(media="screen", rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css")

