!!! 5
html(lang="en")
  head
    title #{team} Appreciation page
  body
    h2 #{team} uehuehuehue #{losers}
    p especially youuu
    p #{text}
    #dropbox
      span #droplabel Drop File Here
    img #preview (alt = "[ preview will display here ]"
    
