!!! 5
html(lang="en")
  head
    title Database pre-Alpha
  body
    h2 Database pre-Alpha
    p Bamboozle
    p Shwing
    form(method="post",enctype = "multipart/form-data")
      input(type = "file", name = "uploadfile")
      input(type = "submit")
    a(href = '/search/') Search For Your Dreams
