!!! 5
html(lang="en")
  head
    title #{team} Appreciation page
  body
    h2 #{team} uehuehuehue #{losers}
    p especially youuu
    p #{text}
    form(action="/upload", method="post",enctype = "multipart/form-data")
      input(type = "file", name = "uploadfile")
      input(type = "submit")
