!!! 5
html(lang="en")
  head
    title TPA Appreciation page
  body
    h2 TPA uehuehuehue TPA
    p especially youuu
    p TPA
    form(method="post",enctype = "multipart/form-data")
      input(type = "file", name = "uploadfile")
      input(type = "submit")
    a(href = '/search/') search
