!!! 5
html(lang="en")
  head
    title #{team} Appreciation page
  body
    h2 #{team} uehuehuehue #{losers}
    p especially youuu
    p #{text}
    form(method = "post", enctype = "multipart/form-data", action = /file-upload)
      input(type = "file", name = "uploadfile")
