!!! 5
html(lang="en")
  head
    include head
    link(rel="stylesheet", href="/css/index.css")
    title Welcome to JAGDB!
  body
    include navbar 
    .container
      h2 JaguarDB
      #myCarousel.carousel.slide
        .carousel-inner
          .active.item
            img(src="/images/bj.jpg")
          .item
            img(src="/images/bj1.jpg")
          .item
            img(src="/images/bj2.jpg")
          .item
            img(src="/images/bj3.jpg")

        a.carousel-control.left(href="#myCarousel", data-slide="prev")&lsaquo;
        a.carousel-control.right(href="#myCarousel", data-slide="next")&rsaquo;
    include scripts
