.navbar
  .navbar-inner
    a.brand(href='#') JagDB
    ul.nav.pull-right
      li
        a(href="/") Ben Jones Central
      li
        a(href="/search/") Search For Your Dreams
      li
        a(href="/upload/") Upload Tournaments
