!!! 5
html
  head
    title Search for your Dreams
    include head
  body
    include navbar
    input#searchbar (type = 'search')
    p#load This is a status thing
    #output the text goes here
    include scripts
    script(src="/js/search.js")
