!!! 5
html
  head
    title Search for your Dreams
    include head
    link(rel="stylesheet", href="/css/search.css");
  body
    include navbar

    .container
      h2 Search for your dreams
      form.form-search
        input#searchbar.search-query(type='text', placeholder="Enter search terms here", data-provide="typeahead", autocomplete="off") 
        button.btn.btn-primary
          i.icon-search.icon-white
      div
        form.form-inline
          legend Advanced Search
      p#load This is a status thing
      #output the text goes here
    include scripts
    script(src="/js/questions.js")
    script(src="/js/search.js")
