!!! 5
html
  head
    title Search for your Dreams
    include head
    link(rel="stylesheet", href="/css/search.css");
  body
    include navbar

    .container
      h2 Search for your dreams
      form.form-search
        input#searchbar.search-query(type='text', placeholder="Enter search terms here", data-provide="typeahead", autocomplete="off") 
        button.btn.btn-primary
          i.icon-search.icon-white
      div
        legend Advanced Search
        form.form.form-inline.well.well-small
          select#typesel
            option Tossups and Bonuses
            option Tossups
            option Bonuses
          select#locsel
            option Questions and Answers
            option Questions 
            option Answers
        
      p#load This is a status thing
      #output the text goes here
    include scripts
    script(src="/js/questions.js")
    script(src="/js/search.js")
