!!! 5
html
  head
  body
    input#searchbar (type = 'search')
    p#load This is a status thing
    pre#output the text goes here
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
  script(src="/client.js")
