!!! 5
html
  head
    title Search for your Dreams
    include head
    link(rel="stylesheet", href="/css/slider.css");
    link(rel="stylesheet", href="/css/search.css");
  body
    include navbar
    button.leftarrow.navb
      i.icon-chevron-left
    button.rightarrow.navb
      i.icon-chevron-right
    .container
      h2 Search for your dreams
      form.form-search
        input#searchbar.search-query(type='text', placeholder="Enter search terms here", data-provide="typeahead", autocomplete="off") 
        button.btn.btn-primary
          i.icon-search.icon-white
      div
        legend Advanced Search
        form.form.form-inline.well.well-small
          label(for="slider") Diff: 
          input.slider(type="text", name="slider", data-slider-value="[4, 7]", data-slider-min="1", data-slider-max="9") 
          label(for="typesel") Type: 
          select(name="typesel")
            option Tossups and Bonuses
            option Tossups
            option Bonuses
          label(for="typesel") Location: 
          select(name="locsel")
            option Questions and Answers
            option Questions 
            option Answers
          button#subjbutton.btn Show Subjects
        hr
        table#table.hide
        
      p#load This is a status thing
      #pos 0
      #tot 0
      #output the text goes here
      
    include scripts
    script(src="/js/bootstrap-slider.js")
    script(src="/js/questions.js")
    script(src="/js/search.js")
