!!! 5
html(lang="en")
  head
    include head
    link(media="screen", rel="stylesheet", href="/css/bootstrap-fileupload.min.css")
    link(rel="stylesheet", href="/css/upload.css")
    title Upload File
  body  
    include navbar
    .container
      #top.row
        .alert.alert-info 
          button.close(type="button") &times;
          | Parsing the tournament, please hold...
        ul
          li ONLY upload zip files which contain only the following:
            ul
              li doc
      .row
         form#upzip.span6
           legend Upload File
           fieldset
             label Tournament Name
             input(type = "text", name = "tname") 
             label Tournament Year (Number from 1995 to 2015)
             input(type = "text", name = "tyear")
             label Tournament Difficulty (Number from 1 to 9)
             input(type = "text", name = "diff")
             div.fileupload.fileupload-new(data-provides="fileupload")
               div.input-append
                 div.uneditable-input.span3
                   i.icon-file.fileupload-exists
                   span.fileupload-preview
                 span.btn.btn-file
                   span.fileupload-new Select file
                   span.fileupload-exists Change
                   input(type="file")
                 a.btn.fileupload-exists(href="#", data-dismiss="fileupload") Remove
           
             input.btn.btn-primary.pull-right(type="submit") Submit Tournament

          form#review.span6(autocomplete="off")
            legend Review Content
            label Tossup Output
            textarea.span6
            label Bonus Output
            textarea.span6
            .pagination.pagination-small.pull-left
              ul
                li.disabled
                  a(href='#') &laquo;
                li.active 
                  a(href='#') 1
                li.disabled
                  a(href='#') &raquo;
            button.btn.pull-right.btn-primary(type="submit") Upload to Database 
    include scripts
    script(src="/js/bootstrap-fileupload.min.js")
    script(src="/js/upload.js")
