#searchbar {
  margin: 0px 5px;
}

select {
  margin: 0px 5px;
}

table, th, td {
  border: 1px solid #CCCCCC;
  font-size: small;
}

th, td {
  width: 125px;
  height: 20px;
  text-align: center;
  background-color: #FFF;
  color: #333;

}

table {
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  color: #FFF;
}

.disabled {
  background-color: #EEE;
}

.selector {
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  color: #ffffff !important;
}

.slider-handle {
  opacity: 1;
}

.slider {
  margin: 0px 10px;
}
